body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #100e19;
}

/* HEADER */

.header_logo {
  height: 34px;
  width: 87px;
  margin-top: 11px;
}

.content {
  height: 70px;
  width: 100%;
  background-color: #1f1b2e;
  border-radius: 9px;
}

#top_body {
  margin-top: 5%;
  margin-left: 10px;
}

#filtrs {
  margin-top: 1%;
}

#dropdownButton {
  background-color: #1b1924 !important;
  width: 100%;
  height: 40px;

  margin-top: 15px !important;
  margin-bottom: 4px !important;
  margin-left: 2%;
}

.buttons {
  height: 70px;
  width: 100%;
}

.dropdown {
  height: 70px;
  width: 24.5%;
  display: inline-block !important;
}

.dropdown2 {
  height: 70px;
  width: 125px;
  margin-right: 10px;
  display: inline-block !important;
}

.dropdown3 {
  height: 70px;
  width: 215px;
  margin-right: 10px;
  display: inline-block !important;
}

.default_text {
  color: white;
}

#button_profile {
  color: white;
  display: inline-block; /* Позволяет контролировать размеры и отступы элемента */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px 20px; /* Добавляет внутренние отступы для вертикального и горизонтального выравнивания */
  box-sizing: border-box; /* Включает padding в общую ширину элемента */
}

#button_main {
  color: white;
  display: inline-block; /* Позволяет контролировать размеры и отступы элемента */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px 20px; /* Добавляет внутренние отступы для вертикального и горизонтального выравнивания */
  box-sizing: border-box; /* Включает padding в общую ширину элемента */
}

/* Стиль для фона модального окна (полупрозрачный фон) */
.modal-background1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если нужно */
  background-color: rgb(0, 0, 0); /* Цвет фона */
  background-color: rgba(0, 0, 0, 0.9); /* Черный с небольшой прозрачностью */
}

/* Стиль для модального окна */
.modal-content1 {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1b1924;
  margin: 0 auto;
  margin-top: 50px; /* 15% сверху и центрировано по горизонтали */
  padding: 20px;
  width: 720px;
  height: 600px;
  border-radius: 5px;
}

.modal-background2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если нужно */
  background-color: rgb(0, 0, 0); /* Цвет фона */
  background-color: rgba(0, 0, 0, 0.95); /* Черный с небольшой прозрачностью */
}

/* Стиль для модального окна */
.modal-content2 {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1b1924;
  margin: 0 auto;
  margin-top: 15%; /* 15% сверху и центрировано по горизонтали */
  padding: 20px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

/* Стиль для кнопки закрытия модального окна */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button2:hover,
.close-button2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.login-container {
  padding: 0px;
}

#sign {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="name"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox {
  margin-bottom: 10px;
}

.checkbox label {
  cursor: pointer;
}

.checkbox input {
  margin-right: 5px;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.profile-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-profile-button a {
  background-color: #555; /* Серый фон для кнопки */
  color: white;
  border: none;
  padding: 10px 20px; /* Примерное значение, регулируйте по вашему усмотрению */
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  transition: background-color 0.3s; /* Плавное изменение фона при наведении */
  margin-top: 16px;
  border-radius: 10px;
}

.edit-profile-button a:hover {
  background-color: #666; /* Чуть более светлый серый при наведении */
}

#settings {
  font-family: "Arial", sans-serif;
  background-color: #100e19;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  height: 100vh;
}

.profile-edit-container {
  max-width: 450px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-top: 15px;
  color: white;
}

.breadcrumbs a,
.breadcrumbs span {
  color: #8d8d8d;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

#edit-profile {
  font-size: 2em;
  color: #fff;
}

.instruction {
  color: #bbb;
}

.form-container {
  background-color: #312b45;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  font-family: "Arial", sans-serif;
}

.form-container h2 {
  color: #ffffff;
}

.form-container button {
  margin-top: 10px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4e4e4e;
  color: white;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #5a5a5a;
}

.preferences {
  width: 410px;
}

.preferences2 {
  width: 680px;
  height: 100px;
}

.dropdown-group {
  margin-bottom: 20px;
}

.dropdown-group label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-group select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #4e4e4e;
  color: white;
  border: none;
}

/* Стилизация стрелки выпадающего списка */
.dropdown-group select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
}

#movies-container-with-pagination,
#movies-container-with-pagination-2,
#movies-container-with-pagination-3 {
  display: flex; /* Превращает контейнер в строку */
  align-items: center; /* Центрирует все элементы по вертикали */
  justify-content: space-between; /* Размещает кнопки на противоположных концах контейнера */
  width: 100%; /* Делает контейнер шириной на всю страницу */
  height: 100%;
}

#pagination {
  display: flex; /* Делает блок кнопок строкой */
  gap: 10px; /* Промежуток между кнопками */
  width: 100%;
}

#movies-container,
#movies-container-2,
#movies-container-3 {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px; /* Расстояние между карточками фильмов */
  height: 100%; /* Устанавливает высоту на 100% контейнера */
  width: 100%;
  justify-content: space-between; /* Распределяет элементы равномерно */
}

#search-movies-container {
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: nowrap;
  gap: 5px; /* Расстояние между карточками фильмов */
  height: 100%; /* Устанавливает высоту на 100% контейнера */
  width: 98%;
  justify-content: space-between; /* Распределяет элементы равномерно */
}

#prev,
#prev-2,
#prev-3 {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  max-width: 110px;
  max-height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#next,
#next-2,
#next-3 {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  max-width: 20px;
  max-height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.movie-card {
  flex: 1; /* Элементы не будут растягиваться или сжиматься */
  max-width: 245px; /* Установите фиксированную ширину для карточек */
  max-height: 100%;
  overflow: hidden;
}

.movie-image {
  width: 100%; /* Изображение будет растягиваться на всю ширину карточки */
  border-radius: 10px; /* Скругленные углы для изображений */
}

.movie-title {
  margin-top: 15px;
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  overflow: hidden; /* Обрезает содержимое, выходящее за пределы */
  text-overflow: ellipsis; /* Добавляет троеточие в конце обрезанного текста */
  color: rgb(191, 191, 191);
  font-size: 20px;
}

.preferencesButtons {
  display: flex;
  width: 100%;
}

#dropdownButtonPreferenceGenre,
#dropdownButtonPreferenceCountry,
#dropdownButtonPreferenceYear {
  width: 150px;
}

#dropdownButtonPreferenceGenre2,
#dropdownButtonPreferenceCountry2,
#dropdownButtonPreferenceYear2 {
  width: 120px;
  background-color: #1b1924;
}

#dropdownButtonPreferenceGenre3,
#dropdownButtonPreferenceCountry3,
#dropdownButtonPreferenceYear3 {
  width: 215px;
  background-color: #1b1924;
}

.search {
  background-color: #100e19;
  margin-top: 9px;
  width: 90px;
  margin-right: 24px;
}

.xxxx {
  background-color: #100e19;
  border: none;
  height: 31px;
  width: 74px;
}
.searchButton {
  background-color: #100e19;
  display: flex;
  align-items: center;
  text-align: center;
  width: 74px;
  height: 31px;
}

.lupa {
  color: white;
  height: 30px;
  margin-top: 5px;
  margin-right: 3px;
}

.search_text {
  color: white;
  margin-top: 9px;
  margin-left: 4px;
}

.main_profile {
  background-color: #100e19;
  margin-top: 6px;
  width: 90px;
}

.main_profile_button {
  background-color: #100e19;
  border: none;
  align-items: top;
  text-align: top;
}

.navbar {
  display: flex;
  align-items: start; /* Выравнивание по верхнему краю */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none; /* Убрать маркеры списка */
  padding: 0; /* Убирает внутренние отступы списка */
  margin: 0; /* Убирает внешние отступы списка */
}

.nav-link {
  margin-right: 20px; /* Добавляет отступ между ссылками */
}

li {
  text-align: center; /* Дополнительно гарантирует, что ссылка выровнена по центру в li */
}

.search_unlogin {
  background-color: #100e19;
  margin-top: 9px;
  width: 90px;
  margin-right: 35px;
}

.white-link {
  color: white !important; /* !important гарантирует применение стиля в случае конфликтов */
}

#genre_list {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#genre_list label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#genre_list label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#contry_list {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#contry_list label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#contry_list label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#years_list {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#years_list label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#years_list label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#genre_list2 {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#genre_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#genre_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#contry_list2 {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#contry_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#contry_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#years_list2 {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#years_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#years_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#rating_list {
  margin-left: 7px;
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 350px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки, если требуется */
  color: white;
}

#rating_list label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
}

#rating_list label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: white;
  border-color: #555;
}

#describe_sire {
  margin-bottom: 30px;
}

#texting {
  margin-top: 15px;
}

#genre_list2 {
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 550px; /* Максимальная ширина контейнера */
  column-count: 3; /* Делит контент на 2 колонки */
  color: white;
}

#genre_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
  width: 140px;
}

#genre_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#contry_list2 {
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 550px; /* Максимальная ширина контейнера */
  column-count: 3; /* Делит контент на 2 колонки */
  color: white;
}

#contry_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
  width: 140px;
}

#contry_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#year_list2 {
  background-color: #312b45; /* Светлый фон для контейнера */
  padding: 15px; /* Внутренний отступ для контейнера */
  max-width: 550px; /* Максимальная ширина контейнера */
  column-count: 2; /* Делит контент на 2 колонки */
  color: white;
}

#year_list2 label {
  display: block; /* Каждый лейбл на новой строке */
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 5px;
  width: 160px;
}

#year_list2 label:hover {
  background-color: #787879; /* Светло-серый фон при наведении */
}

#change-profile,
#delete-preferences {
  width: 43%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #383042, #574a68);
  color: #fff;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

#change-profile:hover,
#delete-preferences:hover {
  background: linear-gradient(45deg, #706679, #3a3346);
  transform: translateY(-2px);
}

.searching {
  margin-left: 30px;
}

.search-container input {
  padding: 10px 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-right: -5px;
  outline: none;
  font-size: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

.search-container button {
  margin-left: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-container button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

#registration_button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #383042, #574a68);
  color: #fff;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-right: 12px;
  margin-top: 0px;
}

#registration_button:hover {
  background: linear-gradient(45deg, #706679, #3a3346);
  transform: translateY(-2px);
}

#login_button {
  width: 56%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #383042, #574a68);
  color: #fff;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-left: 12px;
  margin-right: 0px;
  margin-top: 0px;
}

#login_button:hover {
  background: linear-gradient(45deg, #706679, #3a3346);
  transform: translateY(-2px);
}
.registration_types {
  margin-top: 10px;
}
