<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <div class="col-md-3 mb-2 mb-md-0">
          <a
            href="/"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img
              class="header_logo"
              src="{{ url_for('static', filename='img/reco logo only no bg.png')}}"
              alt="LOGO"
            />
          </a>
        </div>

        <div class="navbar">
          <div class="search">
            <button class="xxxx">
              <div class="searchButton">
                <a href="/search" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <img class="lupa" src="{{ url_for('static', filename='img/иконка поиска.png')}}" alt="searching" />
                  <p class="search_text">Поиск</p>
                </a>
              </div>
            </button>
          </div>
          <ul class="navbar-nav">
            <!-- <li><a href="/" class="nav-link px-2" id="button_main">Главная</a></li> -->
            <li><a href="/profile" class="nav-link px-2" id="button_profile">Профиль</a></li>
          </ul>
        </div>
        </ul>
      </header>
    </div>

    <div class="container" id="describe_sire">
      <h2 class="default_text" id="top_body">Сервис по рекомендации фильмов</h2>

      <div class="container" id="search">
        <p class="default_text" id="texting">
          Вы любите смотреть фильмы онлайн и проводите много времени, просматривая веб-сайты
          в поисках чего-нибудь интересного? Стоит остановиться на Reco.
          Здесь вы можете найти выши любимые фильмы и получить
          рекомендации от GigaСhat на основе ваших предпочтений.
        </p>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

        </ul>
      </div>
    </div>

    <div class="container" id="filters">
      <div class="content">
        <div class="buttons">
          <div class="dropdown" id="filters">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Жанры
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownGenresButton" id="genre_list">
                <label for="genre-anime">
                  <input
                    type="checkbox"
                    id="genre-anime"
                    name="filters-genre"
                    data-value="аниме"
                  />
                  Аниме
                </label>

                <label for="genre-biografiya">
                  <input
                    type="checkbox"
                    id="genre-biografiya"
                    name="filters-genre"
                    data-value="биография"
                  />
                  Биография
                </label>

                <label for="genre-boevik">
                  <input
                    type="checkbox"
                    id="genre-boevik"
                    name="filters-genre"
                    data-value="боевик"
                  />
                  Боевик
                </label>

                <label for="genre-vestern">
                  <input
                    type="checkbox"
                    id="genre-vestern"
                    name="filters-genre"
                    data-value="вестерн"
                  />
                  Вестерн
                </label>

                <label for="genre-voennyy">
                  <input
                    type="checkbox"
                    id="genre-voennyy"
                    name="filters-genre"
                    data-value="военный"
                  />
                  Военный
                </label>

                <label for="genre-detektiv">
                  <input
                    type="checkbox"
                    id="genre-detektiv"
                    name="filters-genre"
                    data-value="детектив"
                  />
                  Детектив
                </label>

                <label for="genre-detskiy">
                  <input
                    type="checkbox"
                    id="genre-detskiy"
                    name="filters-genre"
                    data-value="детский"
                  />
                  Детский
                </label>

                <label for="genre-dlya-vzroslyh">
                  <input
                    type="checkbox"
                    id="genre-dlya-vzroslyh"
                    name="filters-genre"
                    data-value="для взрослых"
                  />
                  Для взрослых
                </label>

                <label for="genre-dokumentalnyy">
                  <input
                    type="checkbox"
                    id="genre-dokumentalnyy"
                    name="filters-genre"
                    data-value="документальный"
                  />
                  Документал
                </label>

                <label for="genre-drama">
                  <input
                    type="checkbox"
                    id="genre-drama"
                    name="filters-genre"
                    data-value="драма"
                  />
                  Драма
                </label>

                <label for="genre-igra">
                  <input
                    type="checkbox"
                    id="genre-igra"
                    name="filters-genre"
                    data-value="игра"
                  />
                  Игра
                </label>

                <label for="genre-istoriya">
                  <input
                    type="checkbox"
                    id="genre-istoriya"
                    name="filters-genre"
                    data-value="история"
                  />
                  История
                </label>

                <label for="genre-komediya">
                  <input
                    type="checkbox"
                    id="genre-komediya"
                    name="filters-genre"
                    data-value="комедия"
                  />
                  Комедия
                </label>

                <label for="genre-koncert">
                  <input
                    type="checkbox"
                    id="genre-koncert"
                    name="filters-genre"
                    data-value="концерт"
                  />
                  Концерт
                </label>

                <label for="genre-korotkometrazhka">
                  <input
                    type="checkbox"
                    id="genre-korotkometrazhka"
                    name="filters-genre"
                    data-value="короткометражка"
                  />
                  Коротком..
                </label>

                <label for="genre-kriminal">
                  <input
                    type="checkbox"
                    id="genre-kriminal"
                    name="filters-genre"
                    data-value="криминал"
                  />
                  Криминал
                </label>

                <label for="genre-melodrama" id="mel">
                  <input
                    type="checkbox"
                    id="genre-melodrama"
                    name="filters-genre"
                    data-value="мелодрама"
                  />
                  Мелодрама
                </label>

                <label for="genre-muzyka">
                  <input
                    type="checkbox"
                    id="genre-muzyka"
                    name="filters-genre"
                    data-value="музыка"
                  />
                  Музыка
                </label>

                <label for="genre-multfilm">
                  <input
                    type="checkbox"
                    id="genre-multfilm"
                    name="filters-genre"
                    data-value="мультфильм"
                  />
                  Мультфильм
                </label>

                <label for="genre-myuzikl">
                  <input
                    type="checkbox"
                    id="genre-myuzikl"
                    name="filters-genre"
                    data-value="мюзикл"
                  />
                  Мюзикл
                </label>

                <label for="genre-novosti">
                  <input
                    type="checkbox"
                    id="genre-novosti"
                    name="filters-genre"
                    data-value="новости"
                  />
                  Новости
                </label>

                <label for="genre-priklyucheniya">
                  <input
                    type="checkbox"
                    id="genre-priklyucheniya"
                    name="filters-genre"
                    data-value="приключения"
                  />
                  Приключения
                </label>

                <label for="genre-realnoe-tv">
                  <input
                    type="checkbox"
                    id="genre-realnoe-tv"
                    name="filters-genre"
                    data-value="реальное ТВ"
                  />
                  Реальное ТВ
                </label>

                <label for="genre-semeynyy">
                  <input
                    type="checkbox"
                    id="genre-semeynyy"
                    name="filters-genre"
                    data-value="семейный"
                  />
                  Семейный
                </label>

                <label for="genre-sport">
                  <input
                    type="checkbox"
                    id="genre-sport"
                    name="filters-genre"
                    data-value="спорт"
                  />
                  Спорт
                </label>

                <label for="genre-tok-shou">
                  <input
                    type="checkbox"
                    id="genre-tok-shou"
                    name="filters-genre"
                    data-value="ток-шоу"
                  />
                  Ток-шоу
                </label>

                <label for="genre-triller">
                  <input
                    type="checkbox"
                    id="genre-triller"
                    name="filters-genre"
                    data-value="триллер"
                  />
                  Триллер
                </label>

                <label for="genre-uzhasy">
                  <input
                    type="checkbox"
                    id="genre-uzhasy"
                    name="filters-genre"
                    data-value="ужасы"
                  />
                  Ужасы
                </label>

                <label for="genre-fantastika">
                  <input
                    type="checkbox"
                    id="genre-fantastika"
                    name="filters-genre"
                    data-value="фантастика"
                  />
                  Фантастика
                </label>

                <label for="genre-film-nuar">
                  <input
                    type="checkbox"
                    id="genre-film-nuar"
                    name="filters-genre"
                    data-value="фильм-нуар"
                  />
                  Фильм-нуар
                </label>

                <label for="genre-fentezi">
                  <input
                    type="checkbox"
                    id="genre-fentezi"
                    name="filters-genre"
                    data-value="фэнтези"
                  />
                  Фэнтези
                </label>

                <label for="genre-ceremoniya">
                  <input
                    type="checkbox"
                    id="genre-ceremoniya"
                    name="filters-genre"
                    data-value="церемония"
                  />
                  Церемония
                </label>
              </ul>
          </div>

          <div class="dropdown" id="filters">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Страны
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownCountriesButton" id="contry_list">
              <label for="country-Avstraliya">
                <input
                  type="checkbox"
                  id="country-Avstraliya"
                  name="filters-country"
                  data-value="Австралия"
                />
                Австралия
              </label>

              <label for="country-Argentina">
                <input
                  type="checkbox"
                  id="country-Argentina"
                  name="filters-country"
                  data-value="Аргентина"
                />
                Аргентина
              </label>

              <label for="country-Belarus">
                <input
                  type="checkbox"
                  id="country-Belarus"
                  name="filters-country"
                  data-value="Беларусь"
                />
                Беларусь
              </label>

              <label for="country-Beliz">
                <input
                  type="checkbox"
                  id="country-Beliz"
                  name="filters-country"
                  data-value="Белиз"
                />
                Белиз
              </label>

              <label for="country-Belgiya">
                <input
                  type="checkbox"
                  id="country-Belgiya"
                  name="filters-country"
                  data-value="Бельгия"
                />
                Бельгия
              </label>

              <label for="country-Braziliya">
                <input
                  type="checkbox"
                  id="country-Braziliya"
                  name="filters-country"
                  data-value="Бразилия"
                />
                Бразилия
              </label>

              <label for="country-Velikobritaniya">
                <input
                  type="checkbox"
                  id="country-Velikobritaniya"
                  name="filters-country"
                  data-value="Великобритания"
                />
                Великобри..
              </label>

              <label for="country-Vengriya">
                <input
                  type="checkbox"
                  id="country-Vengriya"
                  name="filters-country"
                  data-value="Венгрия"
                />
                Венгрия
              </label>

              <label for="country-Germaniya">
                <input
                  type="checkbox"
                  id="country-Germaniya"
                  name="filters-country"
                  data-value="Германия"
                />
                Германия
              </label>

              <label for="country-Gonkong">
                <input
                  type="checkbox"
                  id="country-Gonkong"
                  name="filters-country"
                  data-value="Гонконг"
                />
                Гонконг
              </label>

              <label for="country-Indiya">
                <input
                  type="checkbox"
                  id="country-Indiya"
                  name="filters-country"
                  data-value="Индия"
                />
                Индия
              </label>

              <label for="country-Irlandiya">
                <input
                  type="checkbox"
                  id="country-Irlandiya"
                  name="filters-country"
                  data-value="Ирландия"
                />
                Ирландия
              </label>

              <label for="country-Islandiya">
                <input
                  type="checkbox"
                  id="country-Islandiya"
                  name="filters-country"
                  data-value="Исландия"
                />
                Исландия
              </label>

              <label for="country-Ispaniya">
                <input
                  type="checkbox"
                  id="country-Ispaniya"
                  name="filters-country"
                  data-value="Испания"
                />
                Испания
              </label>

              <label for="country-Italiya">
                <input
                  type="checkbox"
                  id="country-Italiya"
                  name="filters-country"
                  data-value="Италия"
                />
                Италия
              </label>

              <label for="country-Kazahstan">
                <input
                  type="checkbox"
                  id="country-Kazahstan"
                  name="filters-country"
                  data-value="Казахстан"
                />
                Казахстан
              </label>

              <label for="country-Kanada">
                <input
                  type="checkbox"
                  id="country-Kanada"
                  name="filters-country"
                  data-value="Канада"
                />
                Канада
              </label>

              <label for="country-Kitay">
                <input
                  type="checkbox"
                  id="country-Kitay"
                  name="filters-country"
                  data-value="Китай"
                />
                Китай
              </label>

              <label for="country-Kolumbiya">
                <input
                  type="checkbox"
                  id="country-Kolumbiya"
                  name="filters-country"
                  data-value="Колумбия"
                />
                Колумбия
              </label>

              <label for="country-Meksika">
                <input
                  type="checkbox"
                  id="country-Meksika"
                  name="filters-country"
                  data-value="Мексика"
                />
                Мексика
              </label>

              <label for="country-Niderlandy">
                <input
                  type="checkbox"
                  id="country-Niderlandy"
                  name="filters-country"
                  data-value="Нидерланды"
                />
                Нидерланды
              </label>

              <label for="country-Novaya-Zelandiya">
                <input
                  type="checkbox"
                  id="country-Novaya-Zelandiya"
                  name="filters-country"
                  data-value="Новая Зеландия"
                />
                Новая Зел..
              </label>

              <label for="country-Norvegiya">
                <input
                  type="checkbox"
                  id="country-Norvegiya"
                  name="filters-country"
                  data-value="Норвегия"
                />
                Норвегия
              </label>

              <label for="country-Polsha">
                <input
                  type="checkbox"
                  id="country-Polsha"
                  name="filters-country"
                  data-value="Польша"
                />
                Польша
              </label>

              <label for="country-Rossiya">
                <input
                  type="checkbox"
                  id="country-Rossiya"
                  name="filters-country"
                  data-value="Россия"
                />
                Россия
              </label>

              <label for="country-SSSR">
                <input
                  type="checkbox"
                  id="country-SSSR"
                  name="filters-country"
                  data-value="СССР"
                />
                СССР
              </label>

              <label for="country-SShA">
                <input
                  type="checkbox"
                  id="country-SShA"
                  name="filters-country"
                  data-value="США"
                />
                США
              </label>

              <label for="country-Tailand">
                <input
                  type="checkbox"
                  id="country-Tailand"
                  name="filters-country"
                  data-value="Таиланд"
                />
                Таиланд
              </label>

              <label for="country-Turciya">
                <input
                  type="checkbox"
                  id="country-Turciya"
                  name="filters-country"
                  data-value="Турция"
                />
                Турция
              </label>

              <label for="country-Ukraina">
                <input
                  type="checkbox"
                  id="country-Ukraina"
                  name="filters-country"
                  data-value="Украина"
                />
                Украина
              </label>

              <label for="country-Finlyandiya">
                <input
                  type="checkbox"
                  id="country-Finlyandiya"
                  name="filters-country"
                  data-value="Финляндия"
                />
                Финляндия
              </label>

              <label for="country-Franciya">
                <input
                  type="checkbox"
                  id="country-Franciya"
                  name="filters-country"
                  data-value="Франция"
                />
                Франция
              </label>

              <label for="country-Chehiya">
                <input
                  type="checkbox"
                  id="country-Chehiya"
                  name="filters-country"
                  data-value="Чехия"
                />
                Чехия
              </label>

              <label for="country-Shveycariya">
                <input
                  type="checkbox"
                  id="country-Shveycariya"
                  name="filters-country"
                  data-value="Швейцария"
                />
                Швейцария
              </label>

              <label for="country-Shveciya">
                <input
                  type="checkbox"
                  id="country-Shveciya"
                  name="filters-country"
                  data-value="Швеция"
                />
                Швеция
              </label>

              <label for="country-YuAR">
                <input
                  type="checkbox"
                  id="country-YuAR"
                  name="filters-country"
                  data-value="ЮАР"
                />
                ЮАР
              </label>

              <label for="country-Yaponiya">
                <input
                  type="checkbox"
                  id="country-Yaponiya"
                  name="filters-country"
                  data-value="Япония"
                />
                Япония
              </label>
            </ul>
          </div>

          <div class="dropdown" id="filters">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Годы
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownYearsButton" id="years_list">
              <label for="year-2024">
                <input
                  type="checkbox"
                  id="year-2024"
                  name="filters-year"
                  data-value="2024"
                />
                2024 год
              </label>

              <label for="year-2023">
                <input
                  type="checkbox"
                  id="year-2023"
                  name="filters-year"
                  data-value="2023"
                />
                2023 год
              </label>

              <label for="year-2022">
                <input
                  type="checkbox"
                  id="year-2022"
                  name="filters-year"
                  data-value="2022"
                />
                2022 год
              </label>

              <label for="year-2021">
                <input
                  type="checkbox"
                  id="year-2021"
                  name="filters-year"
                  data-value="2021"
                />
                2021 год
              </label>

              <label for="year-2020">
                <input
                  type="checkbox"
                  id="year-2020"
                  name="filters-year"
                  data-value="2020"
                />
                2020 год
              </label>

              <label for="year-2019">
                <input
                  type="checkbox"
                  id="year-2019"
                  name="filters-year"
                  data-value="2019"
                />
                2019 год
              </label>

              <label for="year-2018">
                <input
                  type="checkbox"
                  id="year-2018"
                  name="filters-year"
                  data-value="2018"
                />
                2018 год
              </label>

              <label for="year-2017">
                <input
                  type="checkbox"
                  id="year-2017"
                  name="filters-year"
                  data-value="2017"
                />
                2017 год
              </label>

              <label for="year-2016">
                <input
                  type="checkbox"
                  id="year-2016"
                  name="filters-year"
                  data-value="2016"
                />
                2016 год
              </label>

              <label for="year-2015">
                <input
                  type="checkbox"
                  id="year-2015"
                  name="filters-year"
                  data-value="2015"
                />
                2015 год
              </label>

              <label for="year-2014">
                <input
                  type="checkbox"
                  id="year-2014"
                  name="filters-year"
                  data-value="2014"
                />
                2014 год
              </label>

              <label for="year-2000-2010">
                <input
                  type="checkbox"
                  id="year-2000-2010"
                  name="filters-year"
                  data-value="2000-2010"
                />
                2000-2010
              </label>

              <label for="year-1990-2000">
                <input
                  type="checkbox"
                  id="year-1990-2000"
                  name="filters-year"
                  data-value="1990-2000"
                />
                1990-2000
              </label>

              <label for="year-1980-1990">
                <input
                  type="checkbox"
                  id="year-1980-1990"
                  name="filters-year"
                  data-value="1980-1990"
                />
                1980-1990
              </label>

              <label for="year-1874-1980">
                <input
                  type="checkbox"
                  id="year-1874-1980"
                  name="filters-year"
                  data-value="1874-1980"
                />
                до 1980
              </label>
            </ul>
          </div>

          <div class="dropdown" id="filters">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton"
                    data-toggle="dropdown" aria-expanded="false">
                Рейтинг
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownRatingsButton" id="rating_list">
                <label class="rating-option" for="rating-9">
                    <input type="checkbox" id="rating-9" name="filters-rating" data-value="9-10" />
                    Больше 9
                </label>
                <label class="rating-option" for="rating-8">
                    <input type="checkbox" id="rating-8" name="filters-rating" data-value="8-10" />
                    Больше 8
                </label>
                <label class="rating-option" for="rating-7">
                    <input type="checkbox" id="rating-7" name="filters-rating" data-value="7-10" />
                    Больше 7
                </label>
                <label class="rating-option" for="rating-6">
                    <input type="checkbox" id="rating-6" name="filters-rating" data-value="6-10" />
                    Больше 6
                </label>
                <label class="rating-option" for="rating-5">
                    <input type="checkbox" id="rating-5" name="filters-rating" data-value="0-5" />
                    5 и меньше
                </label>
            </ul>
        </div>
        </div>
      </div>

    </div>

    <div class="container" id="movies-container-with-pagination">
      <button id="prev" style="display: none">
        <i class="fa-solid fa-angle-left fa-2xl"></i>
      </button>
      <div id="movies-container" class="row"></div>
      <button id="next" style="display: none">
        <i class="fa-solid fa-angle-right fa-2xl"></i>
      </button>
    </div>

    <div class="container" id="recommended">
      <h2 class="default_text" id="top_body">Рекомендованное вам</h2>
    </div>

    <div class="container" id="movies-container-with-pagination-2">
      <button id="prev-2" style="display: none">
        <i class="fa-solid fa-angle-left fa-2xl"></i>
      </button>
      <div id="movies-container-2" class="row"></div>
      <button id="next-2" style="display: none">
        <i class="fa-solid fa-angle-right fa-2xl"></i>
      </button>
    </div>

    <div class="container" id="top-250-films">
      <h2 class="default_text" id="top_body">Топ 250 фильмов</h2>
    </div>

    <div class="container" id="movies-container-with-pagination-3">
      <button id="prev-3" style="display: none">
        <i class="fa-solid fa-angle-left fa-2xl"></i>
      </button>
      <div id="movies-container-3" class="row"></div>
      <button id="next-3" style="display: none">
        <i class="fa-solid fa-angle-right fa-2xl"></i>
      </button>
    </div>

    <script>
      const current_user_username = "{{ current_user_username }}";
      const movies_api_key = "{{ movies_api_key }}";
      const service_api_key = "{{ service_api_key }}";
    </script>
    <script src="{{ url_for('static', filename='mainpage_user.js') }}"></script>
  </body>
</html>
