<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Детали фильма</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_page.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="container movie_iformation">
        <div class="content_card_main">
          <div class="content_card">
            <div class="movie_title">
              <h1 id="movieTitle"></h1>
            </div>
            <div class="movie_photo">
              <img
                id="moviePoster"
                src=""
                alt="Постер отсутствует"
                style="display: none"
              />
            </div>
            <div class="movie_info">
              <div class="movie_description">
                <p id="movieDescription"></p>

                <div class="container" id="review">
                  <h3 id="reviewHeading"></h3>
                  <label for="viewed">
                    <input type="checkbox" id="viewed" />
                    Просмотрен
                  </label>
                  <div>
                    <textarea
                      id="reviewText"
                      placeholder="Напишите ваш отзыв"
                    ></textarea>
                  </div>
                  <div>
                    <label for="rating">Оценка (1-10):</label>
                    <input type="number" id="rating" min="1" max="10" value="5" />
                  </div>
                  <div>
                    <button id="submitReview">Отправить</button>
                    <button id="deleteReview">Удалить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const movie_json = `{{ movie | tojson }}`;
      const current_user_username = "{{ current_user_username }}";
      const service_api_key = "{{ service_api_key }}";
    </script>
    <script src="{{ url_for('static', filename='movie_page.js') }}"></script>
  </body>
</html>
